.sendMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.sendMessInput {
    background-color: #212121;
    display: flex;
    width: 500px;
    max-width: 520px;
    align-items: center;
    border-radius: 20px 20px 0px 20px;
}

.smileBtn {
    border: 0;
    background-color: transparent;
    align-self: flex-end;
}

.sendBtn {
    align-self: flex-end;
    background-color: #8774E1;
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}