.body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#e66464b6, #010ea1, #010ea1);
}

.connectBody {
    background-color: #212121;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.iiiiiiiii {
    border: 0;
    background-color: transparent;
    color: red;
    width: 300px;
    height: auto;
    overflow: hidden;
}


.logoBlock {
    display: flex;
    align-items: center;
}

.connected {
    background: hsla(299.143, 44.1667%, 37.4706%, 0.4);
    padding: 0.28125rem 0.625rem;
    color: #fff;
    width: fit-content;
    border-radius: 12px 6px 6px 12px;
    display: flex;
    justify-content: center;

}

.chat {
    display: flex;
    align-items: center;
    width: 100%;
}

.Navbar {
    width: 30%;
    background-color: #212121;
    height: 100vh;
}

.messageBlock {
    background-image: url('./../../assets/images/backgroundChat.svg');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    background-color: #8774E1;
    border-radius: 12px 6px 6px 12px;
    max-width: 480px;
    height: auto;
    width: fit-content;
    padding: 0 0.5rem 0.375rem 0.625rem;
    color: #fff;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}