* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emoji-picker-react .emoji-group:before,
.emoji-picker-react input.emoji-search {
    background-color: #212121 !important;
    color: #fff !important;
}

.aside.emoji-picker-react {
    box-shadow: 0 5px 10px #212121 !important;
}

.emoji-picker-react .emoji-scroll-wrapper {
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}