.body {
    height: 100vh;
    width: 100%;
    background: url('./../../assets/images/bg3.png');
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    overflow-y: scroll;
}

.connectBody {
    background: url('./../../assets/images/authBackgroundTwo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connectBtn {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.29);
    color: #AC005F;
    width: 90px;
    height: 35px;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
}

.connectContent {
    background: rgba(33, 33, 33, 0.6);
    padding: 20px 35px;
}

.iiiiiiiii {
    border: 0;
    background-color: transparent;
    color: red;
    width: 300px;
    height: auto;
    overflow: hidden;
}


.logoBlock {
    display: flex;
    align-items: center;
}

.connected {
    display: flex;
    justify-content: center;

}

.connectedText {
    width: fit-content;
    padding: 0.28125rem 0.625rem;
    color: #fff;
    background: hsla(299.143, 44.1667%, 37.4706%, 0.4);
    border-radius: 12px 6px 6px 12px;

}

input.success:focus {
    /*or a more specific selector*/
    outline-color: red;
}

.burgerMenu {
    border: 0;
    color: #9A9292;
    background-color: transparent;
}

.connectForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forgetPass {
    text-align: center;
    color: #AC005F;
}

.chat {
    display: flex;
    align-items: center;
    width: 100%;
}

.messageBody {
    display: flex;
    justify-content: center;
}

.userPhoto {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #8774E1 0%, rgba(135, 116, 225, 0) 100%);
    border-radius: 50%;
    position: absolute;
    left: -60px;
    top: 0;
}

.message {
    width: 50%;
}

.NavbarHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Navbar {
    width: 35%;
    background-color: #212121;
    height: 100vh;
}

.triggerMenu {
    background-color: #212121 !important;
    }

.messageBlock {
    height: 69vh;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.messageText {
    font-size: 18px;
    padding: 10px 50px 10px 20px;
    border-radius: 25px;
    color: #fff;
    background-color: #8774E1;
    max-width: 440px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 15px 0;
    word-break: break-all;
    direction: ltr;
    position: relative;
}

.time {
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-size: 14px;
}

.emojiPicker {
    position: absolute;
    top: -260px;
}

.emoji-picker-react .emoji-group:before,
.emoji-picker-react input.emoji-search {
    background-color: #212121 !important;
    color: #fff !important;
}

.aside.emoji-picker-react {
    box-shadow: 0 5px 10px #212121 !important;
}

.emoji-picker-react .emoji-scroll-wrapper {
    overflow-x: hidden;
}

.form {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}